{{define "footer"}}

 
<div class="flex-grow">
  <footer class="bg-[#121325] text-white py-6 p-4">
    <div class="container mx-auto px-6 grid grid-cols-1 md:grid-cols-4 gap-6">
      <!-- Colonne 1 -->
      <div>
        <h2 class="font-bold text-lg">Allô Presta</h2>
        <p>A108, rue Adam</p>
        <p>Abidjan, A 535022</p>
        <p>Téléphone : +225 0556 63 1275</p>
        <p>Courriel : allo@presta.com</p>
      </div>
      <!-- Colonne 2 -->
      <div>
        <h2 class="font-bold text-lg">Nos services</h2>
        <ul>
          <li>Ménage</li>
          <li>Lessive</li>
          <li>Plomberie</li>
          <li>Menuiserie</li>
          <li>Nounous</li>
          <li>Cuisine</li>
        </ul>
      </div>
      <!-- Colonne 3 -->
      <div>
        <h2 class="font-bold text-lg">Liens utiles</h2>
        <ul>
          <li><a href="./acceuil">Home</a></li>
          <li><a href="./services.html">Services</a></li>
          <li><a href="./about.html">À propos</a></li>
        </ul>
      </div>
      <!-- Colonne 4 -->
      <div>
        <h2 class="font-bold text-lg">Notre newsletter</h2>
        <p>Abonnez-vous pour recevoir nos dernières nouveautés !</p>
        <div class="mt-4 flex">
          <input type="email" placeholder="Votre email" class="border-4 border-[#924C10] bg-[#121325] p-2 flex-1 rounded-l-lg">
          <button class="bg-[#924C10] text-[#121325] px-4 py-2 rounded-r-lg">S'abonner</button>
        </div>
      </div>
    </div>
    <div class="text-center mt-6 text-sm text-gray-400">
      &copy; Allôpresta Company Tous droits réservés <br>
      Conçu par <a href="#" class="text-blue-400">TailwindCssMade</a> Distribué par <a href="#" class="text-blue-400">Allôpresta</a>
    </div>
  </footer>     

</div>
  
</body>
</html>
{{ end}}